{% extends "base.html" %}

{% block content %}
    <ul>
    {% if upper_case and lower_case and not missing_end_number %}
        <li>Username Accepted.</li>
    {% endif %}

    {% if not upper_case %}
        <li>Username must contain an uppercase letter.</li>
    {% endif %}

    {% if not lower_case %}
        <li>Username must contain a lowercase letter.</li>
    {% endif %}

    {% if missing_end_number %}
        <li>Username must end with a number.</li>
    {% endif %}
        </ul>

{%  endblock %}